<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <!-- Link Styles  -->
  <link rel="stylesheet" href="/static/styles.css">

  <title>xyzCréditos</title>
  <style>
  </style>
</head>

<body>
  <div id="app">
    <!-- Loading -->
    <div class="loading" v-if="isLoading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Login -->
    <div class="authentication" v-if="showLogin">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 right-line">
            <div class="login">
              <h1>Login</h1>
              <input type="text" placeholder="CPF or CNPJ" v-model="loginData.cpf_cnpj">
              <br>
              <input type="password" placeholder="Password" v-model="loginData.password">
              <br>
              <div class="alert alert-danger" role="alert" v-if="errorLogin">
                {{ errorLogin }}
              </div>
              <button style="color: black !important;" v-on:click="doLogin(loginData)">login</button>
            </div>
          </div>

          <div class="col-lg-6">
            <h1>Sign Up</h1>
            <input type="text" placeholder="Name" v-model="signUpData.name">
            <br>
            <input type="text" placeholder="CPF or CNPJ" v-model="signUpData.cpf_cnpj">
            <br>
            <input type="password" placeholder="Password" v-model="signUpData.password">
            <br>
            <div class="alert alert-warning" role="alert" v-if="errorSignUp">
              {{ errorSignUp }}
            </div>
            <button style="color: black !important;" v-on:click="doSignUp()">singup</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Managment -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" v-if="showLogin == false">
      <a class="navbar-brand" href="#"><i class="fas fa-dollar-sign"></i> xyzCréditos</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      <button type="button" class="btn btn-outline-danger my-2 my-sm-0" v-on:click="doLogout()">LOGOUT</button>
    </nav>

    <div class="container managment" v-if="showLogin == false">
      <div class="row">
        <div class="col-sm-6 text-left">
          <h1 style="font-size: 20pt;">Pesquisar Pêndencias:</h1>
          <input type="text" placeholder="CPF/CNPJ Devedor" v-model="search">
          <button class="btn btn-primary" v-on:click="getCharges(search)"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-sm-6 text-right">
          <button type="button" class="btn btn-dark margin-top" v-on:click="getCharges(loggedUser.cpf_cnpj)">
            Minhas Pêndencia <i class="fas fa-portrait"></i>
          </button>
          <br>
          <button type="button" class="btn btn-primary margin-top" data-toggle="modal" data-target="#addDebitoModal">
            Incluir Pêndencia <i class="fas fa-hand-holding-usd"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="addDebitoModal" tabindex="-1" role="dialog" aria-labelledby="addDebitoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addDebitoModalLabel">Incluir Débito</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <input type="text" placeholder="Nome" v-model="chargeData.debtor.name">
                  <br>
                  <input type="text" placeholder="CPF ou CNPJ" v-model="chargeData.debtor.cpf_cnpj">
                  <br>
                  <input type="text" placeholder="Valor" v-model="chargeData.debito">
                  <div class="alert alert-danger" role="alert" v-if="errorCreateCharge">
                    {{ errorCreateCharge }}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary" v-on:click="createCharge(chargeData)"
                    data-dismiss="modal">Adicionar Débito</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br>

      <div class="list-debtors overflow-auto">
        <div class="not-found-charge text-center" v-if="chargesList.length == 0">
          <div class="spinner-border" role="status" v-if="isLoadingCharge">
            <span class="sr-only">Loading...</span>
          </div>
          <div v-if="isLoadingCharge == false">
            <i class="fas fa-times"></i>
            <h1>{{ errorCharge }}</h1>
          </div>
        </div>
        <div class="list-group" v-for="charge in chargesList">
          <div style="margin-bottom: 10px !important;" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Devedor: {{ charge.debtor.name }} - {{ charge.debtor.cpf_cnpj }}</h5>
              <small>{{ charge.created_at }}</small>
            </div>
            <p class="mb-1">R$ {{ charge.debito }}</p>
            <small>Credor: {{ charge.creditor.name }} - {{ charge.creditor.cpf_cnpj }}</small>
            <button style="font-size: 10pt;" class="btn btn-success"
              v-if="loggedUser.cpf_cnpj == charge.creditor_cpf_cnpj"
              v-on:click="doPayment({ id: charge.id, creditor_cpf_cnpj:charge.creditor_cpf_cnpj })">
              Excluir Débito <i style="font-size: 12pt;" class="fas fa-handshake"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Js bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- VueJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/pt-br.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Main.JS -->
  <script src="/static/main.js"></script>
</body>

</html>