* {
  color: #000000 !important;
}

button {
  color: white !important;
}

button i {
  color: white !important;
}

/* Spinner Loading */

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
  z-index: 1000;
}

.spinner-border {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 55px;
  height: 55px;
}

/* Login / SignUP */

.authentication {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  margin-bottom: 8px;
}

.right-line {
  border-right: 2px solid black;
}

@media(max-width:990px) {
  .right-line {
    border-right: none;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
}

/* Managment */

nav a, nav i {
  color: white !important;
}

.managment {
  margin-top: 20px;
}

.list-debtors {
  height: 65vh;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.not-found-charge {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -65%);
  opacity: 0.6;
}

.not-found-charge i {
  font-size: 90pt;
}

.margin-top {
  margin-top: 10px;
}