<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />


  <title>Cobranças</title>
  <style>
    * {
      color: #000000 !important;
    }

    button {
      color: white !important;
    }
    button i{
      color: white !important;
    }

    /* Login / SignUP */
    .authentication {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    input {
      margin-bottom: 8px;
    }

    .right-line {
      border-right: 2px solid black;
    }

    /* Managment */
    .managment {
      margin-top: 20px;
    }

    .list-debtors {
      height: 70vh;
      padding: 20px;
      border: 1px solid black;
      border-radius: 10px;
    }

    .not-found-charge {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.6;
    }

    .not-found-charge i {
      font-size: 90pt;
    }

    .margin-top {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- Login -->
    <div class="authentication" v-if="showLogin">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 right-line">
            <div class="login">
              <h1>Login</h1>
              <input type="text" placeholder="CPF or CNPJ">
              <br>
              <input type="text" placeholder="Password">
              <br>
              <button style="color: black !important;">login</button>
            </div>
          </div>
          <div class="col-md-6">
            <h1>Sign Up</h1>
            <input type="text" placeholder="Name">
            <br>
            <input type="text" placeholder="CPF or CNPJ">
            <br>
            <input type="text" placeholder="Password">
            <br>
            <button style="color: black !important;">singup</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Managment -->
    <div class="container managment" v-if="showLogin == false">
      <div class="row">
        <div class="col-md-8 text-left">
          <h1>Buscar Pêndencias:</h1>
          <input type="text" placeholder="Buscar Devedor" v-model="search">
          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-md-4 text-right">
          <button type="button" class="btn btn-primary margin-top" data-toggle="modal" data-target="#addDebitoModal">
            Incluir Débito <i class="fas fa-hand-holding-usd"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="addDebitoModal" tabindex="-1" role="dialog" aria-labelledby="addDebitoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addDebitoModalLabel">Incluir Débito</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <input type="text" placeholder="Nome">
                  <br>
                  <input type="text" placeholder="CPF ou CNPJ">
                  <br>
                  <input type="text" placeholder="Valor">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Adicionar Débito</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br>

      <div class="list-debtors overflow-auto">
        <div class="not-found-charge text-center" v-if="chargesList.length == 0">
          <i class="fas fa-times"></i>
          <h1>Charge Not Found</h1>
        </div>
        <div class="list-group" v-for="charge in chargesList">
          <div style="margin-bottom: 10px !important;" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Devedor: {{ charge.debtor_cpf_cnpj }}</h5>
              <small>{{ charge.created_at }}</small>
            </div>
            <p class="mb-1">R$ {{ charge.debito }}</p>
            <small>Credor: {{ charge.creditor_cpf_cnpj }}</small>
            <button style="font-size: 10pt;" class="btn btn-success" v-if="loggedUser.cpf_cnpj == charge.creditor_cpf_cnpj">Excluir Débito <i
                 style="font-size: 12pt;" class="fas fa-handshake"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Js bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        chargesList: [
          { 'debito': 100, 'created_at': '3 days ago', 'creditor_cpf_cnpj': '123123123', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 500, 'created_at': '3 days ago', 'creditor_cpf_cnpj': '123123123', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 200, 'created_at': '6 days ago', 'creditor_cpf_cnpj': '909090909', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 300, 'created_at': '9 days ago', 'creditor_cpf_cnpj': '102010201', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 100, 'created_at': '3 days ago', 'creditor_cpf_cnpj': '123123123', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 500, 'created_at': '3 days ago', 'creditor_cpf_cnpj': '123123123', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 200, 'created_at': '6 days ago', 'creditor_cpf_cnpj': '909090909', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 300, 'created_at': '9 days ago', 'creditor_cpf_cnpj': '102010201', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 100, 'created_at': '3 days ago', 'creditor_cpf_cnpj': '123123123', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 500, 'created_at': '3 days ago', 'creditor_cpf_cnpj': '123123123', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 200, 'created_at': '6 days ago', 'creditor_cpf_cnpj': '909090909', 'debtor_cpf_cnpj': '456456456' },
          { 'debito': 300, 'created_at': '9 days ago', 'creditor_cpf_cnpj': '102010201', 'debtor_cpf_cnpj': '456456456' },
        ],
        loggedUser: { name: 'Joazinho', cpf_cnpj: '123123123' },
        search: '456456456',
        showLogin: false,
      }
    })
  </script>
</body>

</html>